<div>
  <div class="orange">
    <div>Hackernews</div>
    <button on:click="setView('new')">New links</button>
    {{#if userId}}
      <span> | </span>
      <button on:click="setView('create')">Create a link</button>
      <span> | </span>
      <button on:click="logout()">Logout</button>
    {{else}}
      <span> | </span>
      <button on:click="setView('login')">Login</button>
    {{/if}}
  </div>

  {{#if view == 'login'}}
    <Login />
  {{/if}}

  <!-- View for all the links -->
  {{#if view == 'new'}}
    <LinkList />
  {{/if}}

  <!-- View for creating a new link -->
  {{#if view == 'create'}}
    <CreateLink />
  {{/if}}

</div>

<script>
  import { GC_USER_ID, GC_AUTH_TOKEN } from '../constants'

  import Login from './Login.html'
  import LinkList from './LinkList.html'
  import CreateLink from './CreateLink.html'

  export default {
    data: () => ({
      view: 'new',
      userId: null
    }),
    components: {
      Login,
      LinkList,
      CreateLink
    },
    oncreate () {
      this.set({userId: localStorage.getItem(GC_USER_ID)})
    },
    methods: {
      setView(view) {
        this.set({view: view})
      },
      logout() {
        localStorage.removeItem(GC_USER_ID)
        localStorage.removeItem(GC_AUTH_TOKEN)
        location.reload()
      }
    }
  }
</script>

<style>
  .orange {
    background-color: #ff6600;
  }
</style>
