<div>
  <div>
    <input
      type="text"
      bind:value='description'
      placeholder="A description for the link"
    />
    <input
      type="text"
      bind:value='url'
      placeholder="The URL for the link"
    />
    <button on:click="createLink()">
      Submit
    </button>
  </div>
</div>

<script>
  import { GC_USER_ID } from '../constants'
  import Client from '../graphql/Client'
  import gql from 'graphql'
  import createLinkQuery from '../graphql/mutations/createLink.graphql'

  export default {
    data: () => ({
      description: '',
      url: ''
    }),
    methods: {
      async createLink() {
        const postedById = localStorage.getItem(GC_USER_ID)
        if (!postedById) {
          console.error("No user logged in!")
          return
        }
        Client.mutate({
          mutation: createLinkQuery,
          variables: {
            description: this.get('description'),
            url: this.get('url'),
            postedById: postedById
          }
        })
        //location.reload()
      }
    }
  }
</script>

<style>
  input {
    max-width: 500px;
  }
</style>
