<div>
  <h4>
    {{#if login}}
      Login
    {{else}}
      Sign Up
    {{/if}}
  </h4>
  {{#if !login}}
    <input bind:value="name" type="text" placeholder="Your name">
  {{/if}}
  <input bind:value="email" type="text" placeholder="Your email address">
  <input bind:value="password" type="password" placeholder="Your password">
</div>
<div>
  <button on:click="confirm()">
    {{#if login}}
      Login
    {{else}}
      Create account
    {{/if}}
  </button>
  <div>
    <span class="link" on:click="set({login: !login})">
      {{#if login}}
        I don't have an account
      {{else}}
        I already have an account
      {{/if}}
    </span>
  </div>
</div>

<script>
  import gql from 'graphql'

  import { GC_USER_ID, GC_AUTH_TOKEN } from '../constants'
  import Client from '../graphql/Client'
  import createUserQuery from '../graphql/mutations/createUser.graphql'
  import signinUserQuery from '../graphql/mutations/signinUser.graphql'


  export default {
    data: () => ({
      login: true,
      email: '',
      password: '',
      name: ''
    }),
    methods: {
      confirm () {
        const name = this.get('name')
        const email = this.get('email')
        const password = this.get('password')

        if (this.get('login')) {
          Client.mutate({
            mutation: signinUserQuery,
            variables: {
              email,
              password
            }
          }).then(result => {
            const id = result.data.signinUser.user.id
            const token = result.data.signinUser.token
            this.saveUserData(id, token)
            location.reload()
          })
        } else {
          const result = Client.mutate({
            mutation: createUserQuery,
            variables: {
              name,
              email,
              password
            }
          }).then(result => {
            console.log(result)
            const id = result.data.signinUser.user.id
            const token = result.data.signinUser.token
            this.saveUserData(id, token)
          })
        }
      },
      saveUserData (id, token) {
        localStorage.setItem(GC_USER_ID, id)
        localStorage.setItem(GC_AUTH_TOKEN, token)
      }
    }
  }
</script>

<style>
  .link {
    cursor: pointer;
    text-decoration: underline;
  }
  .link:hover {
    opacity: 0.7;
  }
</style>
